# Ignore bundler config
/.bundle
.idea
.vscode

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore RubyMine files
/.idea

# Ignore all api docs
db/*.sqlite3
*.swp
.DS_Store
.loadpath
.project
*~

# Node modules
node_modules

# RVM
.ruby-gemset
.ruby-version
public/assets/*
!public/assets/glyphs_*
!public/assets/portal_v2
public/generated
security/brakeman_full_report.html
bin/*
.keep